main{
    margin: 150px 100px ;
}


h1{
    text-align: center;
}

.bredbox{
    position: relative;
    display: flex;
    justify-content:space-between;
    align-content: center;
    flex-flow: row wrap;
    flex-grow: 1;
    align-items: center;
    padding: 3% 10%;
  }

.opdeltbox{
    position: relative;
    display: flex;
    justify-content:space-between;
    align-content: center;
    flex-flow: row wrap;
    flex-grow: 1;
    align-items: center;
    padding: 3% 5%;
}
  
   
.opdeltbox > section{
    width: 45%;
    border-radius: 12px;
    text-align: left;
}


.opdeltbox img{
    border-radius: 10px;
}

.green-box {
    background-color: rgba(149, 178, 80, 0.5);
    padding: 20px;
    margin: 20px;
    text-align: center;
    border-radius: 10px;
    margin-bottom: 20px;
}
