main{
    margin: 150px 100px ;
}


h1{
    text-align: center;
}

.bredbox{
    align-items: center;
    padding: 3% 15%;
  }

.opdeltbox{
    display: flex;
    justify-content:space-between;
    align-items: center;
    padding: 3% 5%;
}
  
   
.opdeltbox > section{
    width: 45%;
    border-radius: 12px;
    text-align: left;
}


.opdeltbox img{
    border-radius: 10px;
}

.green-box {
    background-color: rgba(149, 178, 80, 0.5);
    padding: 20px;
    margin: 20px;
    text-align: center;
    border-radius: 10px;
    margin-bottom: 20px;
}

.opdeltgreenbox {
    padding: 20px;
    display: flex;
    justify-content: space-between;
    background-color: #95B25080;
    border-radius: 20px;
    margin: 0 auto;
    flex-wrap: wrap;
}

.opdeltgreenbox > div {
    width: 30%;
    margin-bottom: 10px;
    border-radius: 12px;
    text-align: center;
}

.opdeltgreenbox img {
    width: 100%;
    height: auto;
    border-radius: 10px;
    border: 2px solid #95B250;
}

.two-img > div {
    width: 48%;
    margin-bottom: 10px;
    border-radius: 12px;
    text-align: center;
}
