li, a, button{
    text-decoration: none;
  }
  /*----------Header og navigationsbælte----------------*/
  
  header{
    height: 100px;
    display:flex;
    justify-content: space-between;
    align-items: center;
    z-index:1;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    padding: 30px 2%;
    color: #150A03; 
    background-color: #95B250;
  /*  border-bottom: 2px solid black;*/
  /*  text-shadow: 1px 1px 1px rgba(255, 255, 255, 0.5);*/
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.5);
  }
  
  
  .logo img{
    height: 70px;
    cursor:pointer;
    transition: all 0.3s ease 0s;
    border: none;
  }
    
/*  .logo:hover{
      box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5);
  }*/
  
  .nav_links{list-style: none;}
  
  .nav_links li{
    display: inline-block;
    padding: 0px 15px;
    font-size: 1em;
    font-weight: 500;
  }
  
  .nav_links li a{transition: all 0.3s ease 0s;}
  
  .nav_links li a:hover{
    color: #150A03;
    letter-spacing: 0.02rem;
  }
  
  .chosen{
    font-weight: 600;
  }
  
  header button{
    color: #150A03;
    text-align: left;
    font-weight: 500;
    padding: 5px 10px;
    width: 150px;
    background-color: rgba(255, 255, 255, 0.4);
    border-radius: 50px;
    border: 1px solid #150A03;
    cursor: pointer;
    transition: all 0.3s ease 0s;
  }
  
  header button:hover{background-color: rgba(255, 255, 255, 0.3);}

  /*----------Footer----------------*/


footer {
    display: flex;
    justify-content: space-between;
    position: relative;
    bottom: 0;
    width: 100%;
    align-items: center;
    padding: 20px;
    background-color: #C2D98C;
    color: #000;
    height: 120px;
    footer + * {
    margin-top: 0;
}
}

.footer-left,
.footer-middle,
.footer-right {
    display: flex;
    align-items: center;
}

.footer-left {
    gap: 15px;
}

#instagram {
    width: 34px;
  }
#facebook {
    width: 34px;
  }
  #pinterest {
    width: 34px;
  }

.footer-middle {
    justify-content: center;
    flex-direction: column;
    font-size: 16px;
    gap: 20px;
}

.newsletter-form {
    display: flex;
}

.newsletter-form input {
    padding: 8px;
    margin-right: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 14px;
}

.newsletter-form button {
    padding: 8px 15px;
    background-color: #020202;
    color: #fff;
    text-align: center;
    border: none;
    border-radius: 15px;
    cursor: pointer;
}

.newsletter-form button:hover {
    background-color: #388E3C;
    transform: scale(1.05);
}

.footer-right ul {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.footer-right li {
    list-style: none;
}

.footer-right a {
    text-decoration: none;
    color: #000000;
    font-size: 14px;
}

.footer-right a:hover {
    text-decoration: underline;
}
