@import url('https://fonts.googleapis.com/css?family=Montserrat');
/*@import url('https://fonts.googleapis.com/css?family=Montserrat Alternates');*/

/*---------- reset css ----------*/

/* makes sizing simpler */
/* remove default spacing */
/* force styling of type through styling, rather than elements */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}


/* min body height */

body {
  min-height: 100vh;
}


/* responsive images/videos */

img,
picture,
svg,
video {
  display: block;
  max-width: 100%;
}

/*---------- reset css slut ----------*/

/*---------- generel styles ----------*/

body{  
    font-family: 'Montserrat', Arial, Helvetica, sans-serif, sans-serif;
    background-color: #F5F5F5;
    color: #150A03;
    line-height: 1.5;
}


h1{
  font-size: 50px;
  font-weight: auto;
}

h2{
  font-size: 30px;
}

h3{
  font-size: 24px;
}

p{
  font-size: 16px;
}
